body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  text-align: center;
}
.todo-img {
  width: 100%;
  aspect-ratio: 4/2;
  background-image: url(./Foto/Image_header-resize.png);
  background-position: center;
  background-repeat: no-repeat;
}

#date,
#clock {
  color: rgb(38, 19, 148);
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}
h1 {
  color: #333;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-list li {
  background-color: #c4e9ed;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-task {
  margin-top: 20px;
}

input[type="text"] {
  padding: 8px;
  margin-right: 8px;
  font-size: 18px;
}

button {
  padding: 8px 10px;
  background-color: #2686c2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 70px;
}

#add-btn {
  padding: 8px 5px;
  background-color: #912cbf;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 70px;
}
.underline-input {
  position: relative;
}
.underline-input input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  padding-bottom: 5px;
  width: 70%;
}
